# About this notebook

The following notebook consolidates all the data checked in and puts it into a 5-table format described by the profs slides.

In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
labeled_entity_df = pd.read_csv('entity_list_with_labels.tsv', index_col=False, sep='\t')
print(labeled_entity_df.shape)
labeled_entity_df.head()

(190056, 3)

                           term label  count
0  LinkedIn Corporation Initial   ORG      3
1                      May 2010  DATE    104
2                   9 years ago  DATE     13
3                       2010-05  DATE      3
4          Platform Web Browser   ORG      3

In [3]:
mikes_nodes_df = pd.read_csv('../scraping/nodes.tsv', index_col=False, sep='\t')
print(mikes_nodes_df.shape)
mikes_nodes_df.head()

(1034, 1)

               nodes
0   (Cork newspaper)
1         (magazine)
2                500
3    .NET Foundation
4      1&1 Drillisch

In [4]:
with open('../scraping/kevin_scrape/result_kk.json', 'r') as f:
    kevins_json = json.loads(f.read())
list(kevins_json.items())[:1]

[('LinkedIn',
  {'naics': '541511',
   'headcount': ['20547'],
   'Type of business': 'Subsidiary',
   'Type of site': 'Social networking service',
   'Available in': 'Multilingual (24)',
   'Founded': 'December 28, 2002; 16 years ago (2002-12-28)Mountain View, California, U.S.',
   'Headquarters': 'Sunnyvale, California, U.S.',
   'Area served': 'Worldwide',
   'Founder(s)': 'Reid HoffmanAllen BlueKonstantin GuerickeEric LyJean-Luc Vaillant',
   'CEO': 'Jeff Weiner',
   'Key people': 'Shannon Brayton (CMO) Christina Hall (CPO, SVP) Steve Sordello (CFO, SVP)',
   'Industry': 'Internet',
   'Products': 'SlideShare',
   'Employees': '15,000 (2019)',
   'Parent': 'Microsoft Corporation',
   'Subsidiaries': 'LearningConnectifier',
   'Website': 'www.linkedin.com',
   'Alexa rank': '58 (November 2019[update])[1]',
   'Advertising': 'Google, AdSense',
   'Registration': 'Required',
   'Users': '630 million members (June 2019)',
   'Launched': 'May 5, 2003; 16 years ago (2003-05-05)',
   'Current status': 'Active',
   'pg_0': "**LinkedIn** (/ lɪŋktˈɪn/) is an American business and employment-oriented service that operates via websites and mobile apps. Founded on December 28, 2002,[4] and launched on May 5, 2003,[5] it is mainly used for professional networking, including employers posting jobs and job seekers posting their CVs. As of 2015, most of the company's revenue came from selling access to information about its members to recruiters and sales professionals.[6] Since December 2016 it has been a wholly owned subsidiary of Microsoft. As of June 2019, LinkedIn had 630 million registered members in 200 countries.",
   'pg_1': 'LinkedIn allows members (both workers and employers) to create profiles and "connections" to each other in an online social network which may represent real-world professional relationships. Members can invite anyone (whether an existing member or not) to become a connection.[7] LinkedIn participated in the EU\'s International Safe Harbor Privacy Principles.[8]'})]

In [5]:
kevin_entities = [key for key in kevins_json]
print(len(kevin_entities))
kevin_entities[:5]

7

['LinkedIn', 'Lynda.com', 'ZipRecruiter Inc', 'Indeed.com', 'SlideShare']

# Entity comparison

How do the entity lists compares? Which entities appear in some and not others?

In [6]:
for k in kevin_entities:
    if not any(labeled_entity_df.term == k):
        print("Missing:", k)

Missing: ZipRecruiter Inc

In [7]:
mask = labeled_entity_df.term.apply(lambda x: 'ZipRecruiter' in str(x))
labeled_entity_df[mask]

               term   label  count
85357  ZipRecruiter  PERSON      1

Might as well fix this row...

In [8]:
labeled_entity_df.loc[mask, 'label'] = 'ORG'
labeled_entity_df[mask]

               term label  count
85357  ZipRecruiter   ORG      1

In [9]:
%%time
target = labeled_entity_df.term.str.lower()
mask = mikes_nodes_df.nodes.apply(lambda k: not any(target == k.lower()))
cnt = np.sum(mask)
print("% of mikes_nodes_df not in labeled_entity_df: {}%".format(cnt/len(mikes_nodes_df)*100))

% of mikes_nodes_df not in labeled_entity_df: 38.49129593810445%
Wall time: 23 s

In [10]:
mikes_nodes_df[mask].sample(10, random_state=42)

                                 nodes
477                                MP3
1028                         telephony
100                 Business relations
503                      Meerkat (app)
213                      Donya Labs AB
186                     Czech language
972                   Wretch (website)
216                     Dr Ben Medlock
544                   Microsoft Ignite
268   Expedia Global Partner Solutions

# Consolidating entities

It seems that `mikes_nodes_df` has at least some legitimate entities that are not otherwise represented. I'll add these to the list of nodes, with the labels ommitted. We'll need to revisit how to get the labels in the future. One possibility is to use a model like word2vec to cluster labeled nodes, and then assign unlabeled nodes based on the cluster they're closest to.

In [11]:
tmp_df = pd.DataFrame(data={"term": mikes_nodes_df[mask].nodes.value_counts().index,
                            "label": [""]*len(mikes_nodes_df[mask].nodes.value_counts()),
                            "count": mikes_nodes_df[mask].nodes.value_counts()}).reset_index(drop=True)
tmp_df.head()

                 term label  count
0                 CEO           11
1            Chairman            7
2   supervisory board            4
3      Trade magazine            1
4  Planamesa Software            1

In [12]:
print(len(labeled_entity_df))
labeled_entity_df = labeled_entity_df.append(tmp_df)
print(len(labeled_entity_df))

190056
190435

In [13]:
# Adding the counts to the labeled_entity_df
for term, cnt in mikes_nodes_df[~mask].nodes.value_counts().items():
    tmask = labeled_entity_df.term == term
    labeled_entity_df.loc[tmask, 'count'] += cnt

For the present NodeLabels tables I'll only output the most common entities, removing some node types that I don't think we're particularly interested in.

The meaning of the entity labels is given on this page: https://spacy.io/api/annotation#named-entities

In [14]:
labeled_entity_df = labeled_entity_df.sort_values(by=['count'], ascending=False)
labeled_entity_df.head()

          term     label  count
63   Microsoft       ORG   9334
961       ISBN       ORG   3407
28       first   ORDINAL   3335
15           2  CARDINAL   3226
11           1  CARDINAL   3185

In [15]:
labeled_entity_df['count'].quantile([0.5, 0.9])

0.5    1.0
0.9    4.0
Name: count, dtype: float64

## Naics codes

I'll also add in the NAICS codes specifically as nodes. Extracted from Ashok's current graph db with the query:

    MATCH (a:NAICS) RETURN id(a) as id, a.name as node, "NAICS" as label

In [16]:
naics_nodes = pd.read_csv('naics.csv')
naics_nodes.head()

   id     node  label
0   1   541511  NAICS
1   7   518210  NAICS
2  10   541810  NAICS
3  13  NoNAICS  NAICS
4  18   561311  NAICS

In [17]:
# NoNAICS really models the absence of a relationship.
# Could we get rid of it? If you want to keep it uncomment the line below.
naics_nodes = naics_nodes[naics_nodes.node != 'NoNAICS']
naics_nodes = pd.DataFrame(data={"term": naics_nodes.node,
                                 "label": naics_nodes.label,
                                 "count": [1]*len(naics_nodes)})
naics_nodes.head()

     term  label  count
0  541511  NAICS      1
1  518210  NAICS      1
2  541810  NAICS      1
4  561311  NAICS      1

In [18]:
excluded_types = ['CARDINAL', 'ORDINAL', 'DATE', 'TIME']
mask = (~labeled_entity_df.label.isin(excluded_types)) & (labeled_entity_df['count'] >= 2)
print(np.sum(mask))
labeled_entity_df[mask].append(naics_nodes).drop('count', axis=1).to_csv('5tables/NodeLabels.tsv', index=False, sep='\t')

40907

In [19]:
labeled_entity_df.append(naics_nodes).drop('count', axis=1).to_csv('5tables/NodeLabels_complete.tsv', index=False, sep='\t')

In [20]:
NodeLabels_df = pd.read_csv('5tables/NodeLabels.tsv', index_col=False, sep='\t')
NodeLabels_df.head(3)

        term label
0  Microsoft   ORG
1       ISBN   ORG
2      China   GPE

# Edge lists

Following section consolidates the edge lists. Right now this includes the edge list I generated and the edge list implicitly used by Ashok's script. In order to extract Ashok's implicit edge list I actually created a graph by running his script, and run the following cypher query against it:

    MATCH (a)-[e]->(b) RETURN id(e) as id, a.name as begin, b.name as end, type(e) as label

In [21]:
ashok_edges = pd.read_csv('ashok_edges.csv', index_col='id')
ashok_edges = ashok_edges.sort_values(by='id')
print(len(ashok_edges))
ashok_edges.head()

30

       begin                  end      label
id
0     541511             LinkedIn  NAICSCode
1       ACQ2             LinkedIn   Acquired
2   LinkedIn         Reid Hoffman    Founded
3   LinkedIn  Konstantin Guericke    Founded
4   LinkedIn           SlideShare   Produces

It seems like the direction of some edges is reversed, e.g. "LinkedIn-Founded->Reid Hoffman". Some are in expected order, e.g. "LinkedIn-Produces->SlideShare". In the future we can try to correct for this.

In [22]:
mikes_edges = pd.read_csv('../scraping/edges.tsv', sep='\t', index_col=False)
print(len(mikes_edges))
mikes_edges.head()

276

                     start edge_type                               end
0            1&1 Drillisch  Produces   Mobile virtual network operator
1  ADVA Optical Networking  Produces  Carrier Ethernet access products
2  ADVA Optical Networking  Produces                Network management
3  ADVA Optical Networking  Produces  Wavelength division multiplexers
4  ADVA Optical Networking  Produces                          software

In [23]:
connectivity_df = pd.DataFrame(data={"FromNode": mikes_edges.start,
                                     "ToNode": mikes_edges.end,
                                     "origin": ["mikes_edges"]*len(mikes_edges),
                                     "originalIndex": mikes_edges.index})
connectivity_df.head()

,FromNode,ToNode,origin,originalIndex
0,1&1 Drillisch,Mobile virtual network operator,mikes_edges,0
1,ADVA Optical Networking,Carrier Ethernet access products,mikes_edges,1
2,ADVA Optical Networking,Network management,mikes_edges,2
3,ADVA Optical Networking,Wavelength division multiplexers,mikes_edges,3
4,ADVA Optical Networking,software,mikes_edges,4

In [24]:
connectivity_df = connectivity_df.append(
    pd.DataFrame(data={"FromNode": ashok_edges.begin,
                       "ToNode": ashok_edges.end,
                       "origin": ["ashok_edges"]*len(ashok_edges),
                       "originalIndex": ashok_edges.index})).reset_index(drop=True)
connectivity_df.index.name = 'EdgeID'
connectivity_df.head().append(connectivity_df.tail())

,FromNode,ToNode,origin,originalIndex
EdgeID,,,,
0,1&1 Drillisch,Mobile virtual network operator,mikes_edges,0
1,ADVA Optical Networking,Carrier Ethernet access products,mikes_edges,1
2,ADVA Optical Networking,Network management,mikes_edges,2
3,ADVA Optical Networking,Wavelength division multiplexers,mikes_edges,3
4,ADVA Optical Networking,software,mikes_edges,4
301,"Robert Hohman, Rich Barton, Tim Besse",Glassdoor,ashok_edges,41
302,"Robert Hohman, Christian Sutherland-Wong, Ryan...",Glassdoor,ashok_edges,42
303,NoNAICS,Connectifier,ashok_edges,43
304,John JersinBenjamin McCann,Connectifier,ashok_edges,44
305,LinkedIn,Connectifier,ashok_edges,45

Before writing out the edge list, I'll filter it so it only refers to entities in NodeLabels.tsv.

In [31]:
print(len(connectivity_df))
mask = connectivity_df.apply(
    lambda row: (row.FromNode in NodeLabels_df.term.values) and (row.ToNode in NodeLabels_df.term.values),
    axis=1)
print(np.sum(mask))

306
174

In [32]:
connectivity_df[mask].drop(['origin', 'originalIndex'], axis=1).to_csv('5tables/Connectivity.tsv', sep='\t')