In [1]:
%matplotlib inline
import json
import pandas as pd

In [2]:
with open("mike/output2.json", "r") as f:
    data = json.loads(f.read())

In [3]:
frequencies = dict()
for page in data:
    for ks, vs in page['table_data']:
        for key_ in ks:
            key = key_.strip()
            try:
                frequencies[key] += 1
            except KeyError:
                frequencies[key] = 1
frequencies = pd.Series(data=frequencies)
frequencies.head()

Type            59
Industry        37
Founded         49
Headquarters    52
Key people      24
dtype: int64

In [4]:
print("Number of distinct table headers:", len(frequencies))

Number of distinct table headers: 1072

In [5]:
mask = frequencies > 5
frequencies[mask].sort_values(ascending=False)

                         318
Website                  112
Type                      59
Headquarters              52
Founded                   49
Industry                  37
Type of site              32
Operating system          31
Alexa                     28
rank                      28
Owner                     28
Registration              27
Launched                  27
Current status            27
Available in              25
Developer(s)              24
Key people                24
License                   24
Stable release            23
Revenue                   21
Year                      21
Number of employees       20
Initial release           18
Founder(s)                16
Employees                 16
Traded as                 15
Products                  15
Country                   14
Commercial                14
Area served               13
Pop.                      13
ISIN                      13
Net income                11
Historical population     10
Created by                10
Type of business          10
Founder                   10
Name                       9
Total assets               9
Parent                     9
Rank                       8
Total equity               8
Operating income           8
Advertising                8
Version                    8
Available in               8
Area served                8
Subsidiaries               7
Release date               7
Date                       7
(in Percent)               7
Key people                 6
Title                      6
Original author(s)         6
Location                   6
Written in                 6
/                          6
dtype: int64

# Analysis

Above are listed the most frequent table row headers for the pages scraped. By inspecting each one, I am going to categorize them in one of two categories:

* Relationship - The key represents a relationship between the parent node. The value(s) correpsonding to the key represent nodes that are in a relationship with the parent node.
* Properties - The key represents a property of the parent node.
* Unknown - What the key represents is unknown without further analysis or context.

The data structures below realize these categories. The "relationships" dictionary defines key-value pairs, where they keys are table headers and the value is the type of relationship it defines, and indicates whether the relationship edge is "incoming" or "outgoing" relative to the parent. For example "Founder" and "Founder(s)" are distinct table keys that might define the same relationship "Founded", with the edge type "incoming".

For example if "Amazon" had the pair "Founded: (Jeff Bezos, incoming)", then it means there are two nodes "Amazon" and "Jeff Bezos" with an Founded-type edge starting at the node "Jeff Bezos" and terminating at the node "Amazon".

In [6]:
relationships = {
    'Founder(s)': ('Founded', 'incoming'),
    'Owner': ('Owns', 'incoming'),
    'Developer(s)': ('Developed by', 'incoming'),
    'Key people': ('Is key to', 'incoming'),
    'Products': ('Produces', 'outgoing'),
    'Created by': ('Created by', 'incoming'),
    'Founder': ('Founded', 'incoming'),
    'Parent': ('Owns', 'incoming'),
    'Subsidiaries': ('Owns', 'outgoing'),
    'Original author(s)': ('Authored', 'incoming'),
}

properties = [
    'Founded',
    'Website',
    'Type',
    'Headquarters',
    'Industry',
    'Operating system',
    'Alexa rank',
    'Launched',
    'Current status',
    'Available in',
    'License',
    'Revenue',
    'Number of employees',
    'Initial release',
    'Employees',
    'Type of business',
    'Name',
    'Total assets',
    'Operating income',
    'Advertising',
    'Version',
    'Available in',
    'Area served',
    'Release date',
    'Title',
    'Location',
    'Written in',
]

In [7]:
import re

internal_wiki_pattern = re.compile(r'.+:.+')

table_datas = [(e['title'], e.get('table_data', None))
               for e in data
               if 'title' in e
               and bool(e['title'])
               and not internal_wiki_pattern.match(e['title'])]
print("Number of entities:", len(table_datas))

Number of entities: 793

In [8]:
%%time
import re
import itertools
import string

output_json = {}

invalid_value_pattern = re.compile(r'[\s{}]+'.format(string.punctuation))

def canonical_key(keys_):
    '''
    Gets the "canonical key" from the unstructured list of keys
    '''
    keys = [k.strip() for k in keys_]
    key = ' '.join(keys)
    key = re.sub(r'\s+', ' ', key)
    return key

def canonical_values(values_):
    '''
    Clean up list of values by:
        * Flattening lists
        * Normalizing whitespace
        * Removing spurious values, e.g. those that consist of whitespace and punctuation alone
        * Strip leading and trailing whitespace
    '''
    values = []
    for v in values_:
        if isinstance(v, list):
            values.extend(v)
        else:
            values.append(v)
    values = [re.sub(r'\s+', ' ', v)
              for v in values if bool(v) and not invalid_value_pattern.match(v)]
    # Strip leading whitespace
    values = [re.sub(r'\s*(.*)', r'\1', v) for v in values]
    # Strip trailing whitespace
    values = [re.sub(r'\s*(.*)', r'\1', v[-1::-1])[-1::-1] for v in values]
    return values

for title, table_data in table_datas:
    if title not in output_json:
        output_json[title] = dict()
    for keys_, values_ in table_data:
        key = canonical_key(keys_)
        if not key:
            continue
        if key not in relationships and key not in properties:
            continue
        
        values = canonical_values(values_)
        if not values:
            continue
        
        try:
            output_json[title][key].extend(values)
        except KeyError:
            output_json[title][key] = values
        output_json[title][key] = list(set(output_json[title][key]))

Wall time: 40 ms

In [9]:
import json

with open("cleaned_scraped_data.json", "w") as f:
    f.write(json.dumps(output_json, sort_keys=True, indent=4))
    
with open("relationships.json", "w") as f:
    f.write(json.dumps(relationships, sort_keys=True, indent=4))

with open("properties.json", "w") as f:
    f.write(json.dumps(properties, sort_keys=True, indent=4))

In [10]:
nodes = []
for entity, props in output_json.items():
    nodes.append(entity)
    for key, values in props.items():
        if key in relationships:
            nodes.extend(values)
nodes = pd.DataFrame(data={'nodes': nodes})
print(nodes.shape)
nodes = nodes.sort_values(by='nodes')
nodes.to_csv('nodes.tsv', index=False, sep='\t')
nodes.sample(10)

(1034, 1)

                                  nodes
261                       Arne Sorenson
257   Phil Spencer (business executive)
1024                            Eric Ly
178                Computers & Software
616                   Orkut Büyükkökten
895                         White House
646                             Calibra
510                            Nextdoor
105                     Tellme Networks
127                  Powerset (company)

In [11]:
nodes = []
props = []
values = []
for entity, ps in output_json.items():
    for prop, vs in ps.items():
        if prop in properties:
            nvs = len(vs)
            nodes.extend([entity] * nvs)
            props.extend([prop] * nvs)
            values.extend(vs)
node_properties = pd.DataFrame(data={'nodes': nodes, 'props': props, 'values': values})
print(node_properties.shape)
node_properties = node_properties.sort_values(by=['nodes', 'props', 'values'])
node_properties.to_csv('node_properties.tsv', index=False, sep='\t')
node_properties.sample(20)

(905, 3)

,nodes,props,values
380,Pinterest,Founded,2009-12
249,Yammer,Founded,September 2008
232,Google Play,Initial release,"October 22, 2008"
816,Recruit (company),Number of employees,512 (holding company)
902,Google AdSense,Type,Online advertising
839,OpenDocument,Initial release,2005-05-01
267,Brainly,Operating system,iOS
576,LockerDome,Headquarters,St. Louis
458,Powerdot,Type,Presentation software
319,Promo.com,Number of employees,55
484,Directorate-General for External Security,Headquarters,Paris XX
499,Amazon (company),Alexa rank,10
790,Mashable,Website,mashable
198,Proximus Group,Headquarters,Brussels
47,Viadeo,Available in,German
186,Microsoft Surface,Operating system,Surface & Surface 2 only support up to
7,Bright.com,Headquarters,San Francisco
526,Mastodon (software),Available in,Catalan
826,Zoho Corporation,Website,zohocorp
723,Microsoft Outlook,Website,www

In [12]:
starts = []
ends = []
edge_types = []
for entity, ps in output_json.items():
    for rel, others in ps.items():
        if rel in relationships:
            n = len(others)
            edge_type, incoming = relationships[rel]
            incoming = (incoming == 'incoming') # Convert from string to bool
            edge_types.extend([edge_type] * n)
            if incoming:
                starts.extend(others)
                ends.extend([entity] * n)
            else:
                starts.extend([entity] * n)
                ends.extend(others)
edges = pd.DataFrame(data={'start': starts, 'edge_type': edge_types, 'end': ends})
print(edges.shape)
edges = edges.sort_values(by=['start', 'end', 'edge_type'])
edges.to_csv('edges.tsv', index=False, sep='\t')
edges.sample(10)

(276, 3)

,start,edge_type,end
135,Apple Inc.,Developed by,Keynote (presentation software)
169,Chairman,Is key to,Facebook
162,Dennis Crowley,Is key to,Foursquare City Guide
190,QSC AG,Produces,Residential and wholesale
36,Connectix,Produces,DoubleTalk
42,TouchType Ltd. (Subsidiary of,Developed by,SwiftKey
118,Mail.ru Group,Owns,Odnoklassniki
14,Christina Hall,Is key to,LinkedIn
67,Proximus Group,Owns,Skynet
34,Connectix,Produces,Virtual PC